@media (max-width: 991.99px) {
    .nav__search-input {
        padding: 8px 100px 8px 20px;

    }
}

@media (max-width: 767.99px) {
    .contact__content {
        flex-wrap: wrap;
        gap: 40px;
    }
    
    .about__us-card img {
        width: 100%;
    }
    
    .about__us-card {
        flex-wrap: wrap;
    }
    .catalog__cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about__us-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav {
        position: relative;
    }

    .nav__search-input {
        width: 0%;
        opacity: 0;
        transition: 0.4s;
        padding: 9px;
        position: absolute;
        left: 0;

    }

    .nav__search-button {
        z-index: 5;
    }

    .nav__search:hover .nav__search-input {
        width: 100%;
        opacity: 1;
    }

    .header__subtitle {
        font-size: 30px;
    }
    .header__title {
        font-size: 60px;
    }
    .nav__content {
        flex-direction: column;
    }
    .nav__list {
        margin: 40px 0;
    }
.nav__search-button {
   border-radius: 0%;
}
}
@media (max-width: 565.99px) {
    .card-descr-1 {
        font-size: 14px;
    }
    .maintitle {
        font-size: 30px;
    }
    .card__img img {
        width: 100%;
    }
}